<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favorites</title>
  <link href="css/style.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    
</head>

<body class = "favorites-body">
  <div>
    <img class = "logo2" src="/images/musiclogo.png" alt="Music Meteorlogy">
  </div>  

  <div class = "fav-banner";>
    <h1 class = "fav-buttons";>
      <button class = "fav-top"; id = "fav-mymusic"; onClick="location='music.html'"> My Music </button>
      <button class = "fav-top"; id = "fav-fav"; onClick = "location.href='favorites.html'"> Favorites</button>
      <button class = "fav-top"; id = "fav-city"; onClick="location.href='index.html'";> New City</button>
    </h1>
  </div>

  <h2 class = "fav-title">Your Favorites</h2>


</body>
