<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Music App</title>
  <link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body class="index-body">



  <form action="/city" method="post">
    <div class="form">
      <input type="text" name="cityName" required />
      <label for="name" class="label-name">
        <span class="content-name">Enter City Name</span>
      </label>

    </div>

    <div class="btn">
      <button type="submit" class="btn btn-primary">ENTER</button>
    </div>
  </form>


  <div class="note">
    <p>Get a Music Playlist Based on Your City's Weather!</p>
  </div>

  <div>
    <img class="logo" src="/images/musiclogo.png" alt="Music Meteorlogy">
    <img class="map" src="/images/map.png" alt="Map Background">
  </div>

  <script type="module" src="script.js"></script>
</body>

</html>