<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Music</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
  <!-- <link href="css/music.module.css" rel="stylesheet" type="text/css" /> 
  <link href="css/player.module.css" rel="stylesheet" type="text/css" />  -->
  <link href="css/style.css" rel="stylesheet" type="text/css" /> 

</head>
<body class = "music-body">
  <div>
    <img class = "logo2" onClick="location='index.html'" src="/images/musiclogo.png" alt="Music Meteorlogy">
  </div>  
  <div class = "banner">
      <h1 class = "top-buttons">
        <button class = "top" id = "mymusic" onClick="location='music.html'"> My Music </button>
        <button class = "top" id = "fav" onClick="location='favorites.html'"> Favorites</button>
        <button class = "top" id = "city" onClick="location='index.html'"> New City</button>
      </h1>
  </div>

  <div class="player">
    <div class="music-container" id="music-container">
      <div class="music-info">
        <h4 class="title" id="title"></h4>
        <div class="progress-container" id="progress-container">
          <div class="progress" id="progress"></div>
        </div>
      </div>
  
      <!-- <audio src="/music/APLmusic.mp3" id = "audio"></audio> -->
  
      <div class="img-container">
        <!-- sunny -->
        <img src="/images/Sunday Morning - Maroon 5.jpeg" alt="sundaymorning-cover" id="cover"/>
        <img src="/images/Watermelon Sugar - Harry Styles.jpeg" alt="watermelonsugar-cover" id="cover"/>
        <img src="/images/Peaches - Justin Bieber.jpeg" alt="peaches-cover" id="cover"/>
        <!-- cloudy -->
        <img src="/images/Rolling in the Deep Cover.jpeg" alt="rollinginthedeep-cover" id="cover"/>
        <img src="/public/images/Fly Me to the Moon Cover.jpeg" alt="flymetothemoon-cover" id="cover"/>
        <img src="/images/Night Changes Cover.jpeg" alt="nightchanges-cover" id="cover"/>
        <!-- rain -->
        <img src="/images/Perfect Cover.jpeg" alt="perfect-cover" id="cover"/>
        <img src="/images/Can't Help Falling in Love Cover.jpeg" alt="canthelpfallinginlove-cover" id="cover"/>
        <img src="/images/Right Here Waiting Cover.jpeg" alt="rightherewaiting-cover" id="cover"/>
        <!-- thunderstorm -->
        <img src="/images/Before You Go Cover.jpeg" alt="beforeyougo-cover" id="cover"/>
        <img src="/images/Train Wreck Cover.jpeg" alt="trainwreck-cover" id="cover"/>
        <img src="/images/Lightning Cover.jpeg" alt="lightning-cover" id="cover"/>
        <!-- snow -->
        <img src="/images/cardigan Cover.jpeg" alt="cardigan-cover" id="cover"/>
        <img src="/images/Mystery of Love Cover.jpg" alt="mysteryoflove-cover" id="cover"/>
        <img src="/images/Electric Feel Cover.jpeg" alt="electricfeel-cover" id="cover"/>
      </div>
  
      <div class="navigation">
        <button id="prev" class="action-btn">
          <i class="fas fa-backward"></i>
        <button id="play" class="action-btn action-btn-big">
          <i class="fas fa-play"></i>
        <button id="next" class="action-btn">
          <i class="fas fa-forward"></i>
        </button>
      </div>
    </div>  
  </div>
  
  <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
