<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Music</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
  <!-- <link href="css/music.module.css" rel="stylesheet" type="text/css" /> 
  <link href="css/player.module.css" rel="stylesheet" type="text/css" />  -->
  <link href="css/style.css" rel="stylesheet" type="text/css" /> 

</head>
<body class = "music-body">
  <div>
    <img class = "logo2" onClick="location='index.html'" src="/images/musiclogo.png" alt="Music Meteorlogy">
  </div>  
  <div class = "banner">
      <h1 class = "top-buttons">
        <button class = "top" id = "mymusic" onClick="location='music.html'"> My Music </button>
        <button class = "top" id = "fav" onClick="location='favorites.html'"> Favorites</button>
        <button class = "top" id = "city" onClick="location='index.html'"> New City</button>
      </h1>
  </div>

  <div class = "playlist">City Name</div>

  <div class="player">
    <div class="music-container" id="music-container">
      <div class="music-info">
        <h2 class="title" id="title"></h2>
        <h3 class="artist" id="artist"></h3>
        <div class="progress-container" id="progress-container">
          <div class="progress" id="progress"></div>
        </div>
      </div>
      
      <!-- sunny music -->
      <audio src = "/music/sm-m5.mp3" id = "sm-m5"></audio>
      <audio src = "/music/ws-hs.mp3" id = "watermelongsugar" ></audio>
      <audio src = "/music/p-jb.mp3" id = "peaches" ></audio>
      <!-- cloudy music -->
      <audio src = "/music/ritd-a.mp3" id = "rollinginthedeep" ></audio>
      <audio src = "/music/fmttm-fs.mp3" id = "flymetothemoon" ></audio>
      <audio src = "/music/nc-od.mp3" id = "nightchanges" ></audio>
      <!-- rain music -->
      <audio src = "/music/p-es.mp3" id = "perfect" ></audio>
      <audio src = "/music/chfil-ep.mp3" id = "canthelpfallinginlove" ></audio>
      <audio src = "/music/rhw-rm.mp3" id = "rightherewaiting" ></audio>
      <!-- thunderstorm music -->
      <audio src = "/music/byg-lc.mp3" id = "beforeyougo" ></audio>
      <audio src = "/music/tw-ja.mp3" id = "trainwreck" ></audio>
      <audio src = "/music/l-lm.mp3" id = "lightning" ></audio>
      <!-- snow music -->
      <audio src = "/music/c-ts.mp3" id = "cardigan" ></audio>
      <audio src = "/music/ef-crw.mp3" id = "electricfeel" ></audio>
      <audio src = "/music/mol-ss.mp3" id = "mysteryoflove" ></audio>
  
      <div class="img-container">
        <!-- sunny covers-->
        <img src="/images/sm-m5-cvr.jpeg" alt="sundaymorning-cover" id="sm-m5-cvr"/>
        <!--<img src="/images/ws-hs.jpeg" alt="watermelonsugar-cover" id="watermelonsugar-cover"/>
        <img src="/images/p-jb.jpeg" alt="peaches-cover" id="peaches-cover"/>
        
        <img src="/images/ritd-a.jpeg" alt="rollinginthedeep-cover" id="rollinginthedeep-cover"/>
        <img src="/images/fmttm-fs.jpeg" alt="flymetothemoon-cover" id="flymetothemoon-cover"/>
        <img src="/images/nc-od.jpeg" alt="nightchanges-cover" id="nightchanges-cover"/>
        
        <img src="/images/p-es.jpeg" alt="perfect-cover" id="perfect-cover"/>
        <img src="/images/chfil-ep.jpeg" alt="canthelpfallinginlove-cover" id="canthelpfallinginlove-cover"/>
        <img src="/images/rhw-rm.jpeg" alt="rightherewaiting-cover" id="rightherewaiting-cover"/>
        
        <img src="/images/byg-lc.jpeg" alt="beforeyougo-cover" id="beforeyougo-cover"/>
        <img src="/images/tw-ja.jpeg" alt="trainwreck-cover" id="trainwreck-cover"/>
        <img src="/images/l-lm.jpeg" alt="lightning-cover" id="lightning-cover"/>
        
        <img src="/images/c-ts.jpeg" alt="cardigan-cover" id="cardigan-cover"/>
        <img src="/images/ef-crw.jpeg" alt="electricfeel-cover" id="electricfeel-cover"/>
        <img src="/images/mol-ss.jpeg" alt="mysteryoflove-cover" id="mysteryoflove-cover"/> -->
      </div>
  
      <div class="navigation">
        <button id="prev" class="action-btn">
          <i class="fas fa-backward"></i>
        <button id="play" class="action-btn action-btn-big">
          <i class="fas fa-play"></i>
        <button id="next" class="action-btn">
          <i class="fas fa-forward"></i>
        </button>
      </div>
    </div>  
  </div>
  
  <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
