/* .favorites-body {
    background-color: #d4f6fc;
    position: relative;
    
  }
  

  .favs{
   position: absolute;
   left: 500px;
   font-size: 50px;
   border-radius: inherit;
   z-index: 6;
   font: outline;
  }

   */