<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Music</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
  <!-- <link href="css/music.module.css" rel="stylesheet" type="text/css" /> 
  <link href="css/player.module.css" rel="stylesheet" type="text/css" />  -->
  <link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body class="music-body">
  <div>
    <img class="logo2" onClick="location='index.html'" src="/images/musiclogo.png" alt="Music Meteorlogy">
  </div>
  <div class="banner">
    <h1 class="top-buttons">
      <button class="top" id="mymusic" onClick="location='music.html'"> My Music </button>
      <button class="top" id="fav" onClick="location='favorites.html'"> Favorites</button>
      <button class="top" id="city" onClick="location='index.html'"> New City</button>
    </h1>
  </div>

  <div class="playlist" id="city-name">City Name</div>

  <div class="player">
    <div class="music-container" id="music-container">
      <div class="music-info">
        <h2 class="title" id="title"></h2>
        <h3 class="artist" id="artist"></h3>
        <div class="progress-container" id="progress-container">
          <div class="progress" id="progress"></div>
        </div>
      </div>

      <audio src="" id="sm-m5"></audio>

      <div class="img-container">
        <img src="/images/sm-m5-cvr.jpeg" alt="cover" id="sm-m5-cvr" />
      </div>

      <div class="navigation">
        <button id="prev" class="action-btn">
          <i class="fas fa-backward"></i>
          <button id="play" class="action-btn action-btn-big">
            <i class="fas fa-play"></i>
            <button id="next" class="action-btn">
              <i class="fas fa-forward"></i>
            </button>
      </div>
    </div>
  </div>

  <script type="module" src="/scripts/script.js"></script>
</body>

</html>